<% content_for :title, @recipe.name %>

<div class="container">
  <div class="page-header">
    <h1><%= @recipe.name %></h1>
  </div>
  <div>
    <%= link_to "Retour à la liste des recettes", recipes_path %>
  </div>
  <div>
    <%= image_tag @recipe.photo, width: 200 %>
  </div>
  <p><%= @recipe.description %></p>
  <div>
    <%= link_to edit_recipe_path(@recipe) do %><i class="fas fa-pencil-alt"></i><% end %>

    <%= link_to recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>

  <div><%= @recipe.ingredients_list %></div>
  <div><%= @recipe.steps %></div>
  <div><%= @recipe.difficulty %></div>

  <div class="row">
    <div class="col-xs-12">
      <% unless @recipe.recipe_reviews.empty? %>
        <h3>Commentaires</h3>
        <ul class="list-group">
          <% @recipe.recipe_reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render "recipe_reviews/new", recipe: @recipe, recipe_review: @recipe_review %>
    </div>
  </div>
</div>
