<% content_for :title, @recipe.name %>

<div class="container">
  <div class="page-header">
    <h1><%= @recipe.name %></h1>
  </div>

  <div class="edit">
    <%= link_to recipes_path do %><i class="fas fa-arrow-left"></i><% end %>
    <%= link_to edit_recipe_path(@recipe) do %><i class="fas fa-pencil-alt"></i><% end %>
    <%= link_to recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>

  <section class="parametres_recette">
    <%= image_tag @recipe.photo, width: 200 %>
    <article>
      <p><strong><%= @recipe.description %></strong></p>
      <p><em><%= @recipe.difficulty %></em></p>
    </article>
  </section>
  <section class="details_recette">
    <article>
      <h2>Ingrédients</h2>
      <p>
        <ul>
        <% @recipe.ingredients_list.each do |ingredient| %>
          <li><%= ingredient %></li>
        <% end %>
      </ul>
      </p>
    </article>
    <article>
      <h2>Recette</h2>
      <p>
        <ul>
        <% @recipe.steps.each do |step| %>
          <li><%= step %></li>
        <% end %>
        </ul>
      </p>
    </article>
  </section>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <% unless @recipe.recipe_reviews.empty? %>
        <h3>Commentaires (<%= @recipe.recipe_reviews.count %>)</h3>
        <ul class="list-group">
          <% @recipe.recipe_reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= render "recipe_reviews/new", recipe: @recipe, recipe_review: @recipe_review %>
    </div>
  </div>
</div>
