<% content_for :title, "Accueil" %>

<div class="navbar-wagon" style="background-color: transparent; position: absolute;">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Recettes", recipes_path, {style: "color: #36C5D8;", class: "navbar-wagon-item navbar-wagon-link"} %>
    <%= link_to "Restaurants", restaurants_path, {style: "color: #36C5D8;", class: "navbar-wagon-item navbar-wagon-link"} %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" style="color: #36C5D8;"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Recettes", recipes_path %></li>
        <li><%= link_to "Restaurants", restaurants_path %></li>
      </ul>
    </div>
  </div>
</div>

<%= render 'components/banner' %>

<div class="container">
  <div class="row">

      <div class="col-xs-12 col-sm-4 icon-card text-center">
        <p><i class="fas fa-lemon"></i></p>
        <h2>Recettes</h2>
        <p>Pissaladière, soupe au pistou, tian de légumes ... toutes les recettes provençales à portée de main ! Que vous cherchiez à épater vos convives ou tout simplement vous faire plaisir, toutes les recettes provençales sont disponibles </p>
      </div>

      <div class="col-xs-12 col-sm-4 icon-card text-center">
        <p><i class="fas fa-utensils"></i></p>
        <h2>Restaurants</h2>
        <p> La flemme de cuisiner ? Profitez des bons restaurants provençaux de la région pour découvrir la gastronomie locale. Laissez vous chouchouter le temps de repas aux senteurs du soleil ... </p>
      </div>

      <div class="col-xs-12 col-sm-4 icon-card text-center">
        <p><i class="fas fa-map-pin"></i></p>
        <h2>Provence</h2>
        <p> Notre chère provence est ici à l'honneur et plus particulièrement la gastronomie provençale qui, de part son excellence et son unicité, rayonne aujourd'hui dans le monde entier.   </p>
      </div>
  </div>
</div>
