<div class="container">
  <h1> <%= @restaurant.name %> </h1>
  <h3> Description </h3>
  <p>  <%= @restaurant.description %> </p>
  <div class="row">
    <div class="col-xs-12">
      <h3>Commentaires</h3>
      <% if @restaurant.restaurant_reviews.empty? %>
        <p>Déposez un commentaire</p>
      <% else %>
        <ul class="list-group">
          <% @restaurant.restaurant_reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render "restaurant_reviews/new", restaurant: @restaurant, restaurant_review: @restaurant_review %>
    </div>
  </div>
</div>
