<% content_for :title, @restaurant.name %>

<div class="container">
  <div class="page-header">
    <h1> <%= @restaurant.name %> </h1>
  </div>
  <h3> Description </h3>
  <p>  <%= @restaurant.description %> </p>
  <h3> Informations pratiques </h3>
  <p>  <%= @restaurant.address %> </p>
  <p> ☎︎ <%= @restaurant.phone %> </p>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <% unless @restaurant.restaurant_reviews.empty? %>
        <h3>Commentaires (<%= @restaurant.restaurant_reviews.count %>)</h3>
        <ul class="list-group">
          <% @restaurant.restaurant_reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= render "restaurant_reviews/new", restaurant: @restaurant, restaurant_review: @restaurant_review %>
    </div>
  </div>
</div>
